$break-mobile: '320px';
$break-tablet: '768px';
$break-pc: '1024px';
$break-p1440: '1440px';

$eng_title_font:'Lemon/Milk light', sans-serif;
$common_font: 'SCoreDream';

$base_color_light: '#fefdf0';
$base_color_dark: '#442d13';
$footer_color: '#ffef5a';
$dkgray_color: '#333333';


