$break-mobile: '320px';
$break-middle: '768px'; // 이거는 br을 없애기 위한 용도입니다. 사용 시 조장에 허락을 맡으시길 바랍니다.
$break-pc: '1400px';

$eng_title_font:'Lemon/Milk light', sans-serif;
$common_font: 'SCoreDream';


$base_color_light: '#fefdf0';
$base_color_dark: '#442d13';
$footer_color: '#ffef5a';
$dkgray_color: '#333333';


