* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

footer,
header {
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

img {
  display: block;
}

h1 {
  font-size: 7.5em;
  font-weight: normal;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 89.7435897436%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 93.75%;
  }
}

.firstsection {
  position: relative;
  height: 100vh;
  background: url(../img/First_Birthday/photo/s2-3.jpg) no-repeat center;
  background-size: cover;
}
.firstsection::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.firstsection header {
  height: 55px;
}
@media screen and (min-width: 768px) {
  .firstsection header {
    height: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header {
    height: 80px;
  }
}
.firstsection header .container {
  display: flex;
  justify-content: space-between;
}
.firstsection header .container .header_logo {
  width: 126px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo {
    width: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo {
    width: 200px;
  }
}
.firstsection header .container .header_logo img {
  position: absolute;
  width: 126px;
  height: auto;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo img {
    width: 160px;
    margin-top: 17.5px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo img {
    width: 200px;
    margin-top: 20px;
  }
}
.firstsection header .container .menu {
  display: flex;
  width: 70px;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
  align-items: center;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .menu {
    margin-top: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .menu {
    margin-top: 35px;
  }
}
.firstsection header .container .menu .menu_bar {
  display: block;
  position: relative;
  width: 33%;
  width: 16px;
  height: 13px;
  cursor: pointer;
}
.firstsection header .container .menu .menu_bar span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: white;
}
.firstsection header .container .menu .menu_bar span:nth-child(1) {
  top: 0;
  right: 0;
}
.firstsection header .container .menu .menu_bar span:nth-child(2) {
  top: 50%;
  right: 0;
  width: 80%;
  transform: translateY(50%);
}
.firstsection header .container .menu .menu_bar span:nth-child(3) {
  right: 0;
  bottom: 0;
}
.firstsection header .container .menu .menu_type p {
  font-family: "Lemon/Milk light", sans-serif, sans-serif;
  font-size: 1em;
}
.firstsection .banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstsection .banner-box h1 {
  color: #ddddde;
  font-size: 2.25em;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1 {
    font-size: 7.5em;
  }
}
.firstsection .banner-box h1::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #ddddde;
  transform: translateX(-50%);
  margin-bottom: 37px;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1::before {
    top: -41px;
    width: 144px;
    height: 15px;
  }
}

.s1-intro h2,
.s3-balloon h2,
.s4-preview h2,
.s5-notice h2 {
  font-size: 0;
}

main section.s1-intro {
  margin-top: 165px;
  margin-bottom: 270px;
}
@media screen and (min-width: 1024px) {
  main section.s1-intro {
    margin-top: 270px;
  }
}
main section.s1-intro .flex {
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex {
    display: flex;
    width: 100%;
    max-width: 1550px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
main section.s1-intro .flex .s1-content {
  position: relative;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex .s1-content {
    text-align: left;
  }
}
main section.s1-intro .flex .s1-content h3 {
  font-size: 1.125em;
  padding-bottom: 35px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex .s1-content h3 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.25em;
    letter-spacing: 0;
    margin-left: 8.58vw;
  }
}
main section.s1-intro .flex .s1-content h3 strong {
  position: relative;
  top: 25px;
  color: #333333;
  font-size: 1.22em;
  line-height: 28px;
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex .s1-content h3 strong {
    top: 0px;
    font-size: 1em;
    color: #ffb400;
  }
}
main section.s1-intro .flex .s1-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: #ffb400;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex .s1-content::before {
    display: none;
  }
}
main section.s1-intro .flex .s1-img {
  width: 350px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s1-intro .flex .s1-img {
    width: 45.3125vw;
    height: 600px;
    max-width: 700px;
    min-width: 550px;
    padding-top: 30px;
    margin-left: 50px;
  }
}
main section.s1-intro .flex .s1-img img {
  width: 100%;
}
main section.s2-instruction {
  position: relative;
}
main section.s2-instruction .wave-bg {
  position: absolute;
  width: 100vw;
  top: -150px;
  left: -370px;
  z-index: -100;
}
main section.s2-instruction h2 {
  text-align: center;
  font-size: 1.375em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction h2 {
    font-size: 2.25em;
    margin-bottom: 85px;
    margin-left: 80px;
  }
}
main section.s2-instruction ul.ins {
  display: flex;
  width: 100%;
  flex-flow: row;
  overflow: hidden;
  justify-content: center;
  padding-bottom: 15px;
}
main section.s2-instruction ul.ins li {
  background-color: #fff;
  position: relative;
  width: 270px;
  height: 425px;
  overflow: hidden;
  margin-left: 20px;
  flex-shrink: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li {
    width: 310px;
    height: 480px;
    margin-left: 80px;
  }
}
main section.s2-instruction ul.ins li:last-of-type {
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li:last-of-type {
    margin-left: 80px;
  }
}
main section.s2-instruction ul.ins li .img-box {
  position: relative;
  width: 100%;
  height: 50%;
  background: red;
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li .img-box {
    margin-bottom: 35px;
  }
}
main section.s2-instruction ul.ins li .img-box img {
  position: absolute;
  left: 50%;
  width: 140%;
  transform: translateX(-50%);
}
main section.s2-instruction ul.ins li .s2-text-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 35px auto;
}
main section.s2-instruction ul.ins li .s2-text-box strong {
  position: relative;
  font-size: 1.125em;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li .s2-text-box strong {
    font-size: 1.25em;
  }
}
main section.s2-instruction ul.ins li .s2-text-box strong::before {
  content: "";
  display: block;
  position: absolute;
  top: 27px;
  width: 35px;
  height: 3px;
  background: #ffb400;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li .s2-text-box strong::before {
    top: 30px;
  }
}
main section.s2-instruction ul.ins li .s2-text-box p {
  margin-top: 25px;
  font-size: 0.875em;
  letter-spacing: -0.01em;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  main section.s2-instruction ul.ins li .s2-text-box p {
    font-size: 1em;
    line-height: 24px;
    margin-top: 30px;
  }
}
main section.s2-instruction ul.ins li.s2-act::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
main section.s3-balloon {
  margin-top: 110px;
  margin-bottom: 240px;
}
@media screen and (min-width: 768px) {
  main section.s3-balloon {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon {
    max-width: 1880px;
    min-width: 1180px;
    margin-top: 160px;
    margin-left: 8.58vw;
  }
}
main section.s3-balloon .flex {
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex {
    width: 100%;
    margin: 0;
  }
}
main section.s3-balloon .flex .s3-content {
  padding-top: 310px;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex .s3-content {
    padding-top: 370px;
  }
}
main section.s3-balloon .flex .s3-content h3 {
  font-size: 1.25em;
  line-height: 26px;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex .s3-content h3 {
    font-size: 2.25em;
    line-height: 46px;
  }
}
main section.s3-balloon .flex .s3-content p {
  margin: 30px 0;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-size: 0.875em;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex .s3-content p {
    font-size: 1.125em;
    line-height: 26px;
  }
}
main section.s3-balloon .flex .s3-content .s3-btns {
  display: flex;
}
main section.s3-balloon .flex .s3-content .s3-btns a {
  width: 172px;
  height: 54px;
  text-align: center;
  color: #ffb400;
  border: #ffb400 solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
main section.s3-balloon .flex .s3-content .s3-btns a:first-of-type {
  margin-right: 8px;
}
main section.s3-balloon .flex .s3-content .s3-img {
  position: absolute;
  top: 0;
  right: -5.1282051282%;
  z-index: -1;
  width: 300px;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex .s3-content .s3-img {
    width: 500px;
  }
}
main section.s3-balloon .flex .s3-content .s3-img img {
  width: 100%;
  opacity: 0.4;
}
@media screen and (min-width: 1024px) {
  main section.s3-balloon .flex .s3-content .s3-img img {
    opacity: 1;
  }
}
main section.s4-preview {
  position: relative;
}
main section.s4-preview .bg-line {
  width: 100%;
  height: 135px;
  background-color: #ffc63b;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .bg-line {
    height: 170px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .bg-line {
    height: 280px;
    bottom: 70px;
  }
}
main section.s4-preview .flex {
  display: flex;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex {
    width: 100%;
  }
}
main section.s4-preview .flex .left-content .img-box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: #fff solid 20px;
  border-radius: 50%;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
  z-index: -3;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex .left-content .img-box {
    width: 400px;
    height: 400px;
    border-width: 22px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .flex .left-content .img-box {
    width: 650px;
    height: 650px;
    border-width: 24px;
  }
}
main section.s4-preview .flex .left-content .img-box img {
  width: 150%;
}
main section.s4-preview .flex .right-content {
  position: relative;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex .right-content {
    margin-left: 70px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .flex .right-content {
    margin-left: 15vw;
  }
}
main section.s4-preview .flex .right-content h3 {
  position: absolute;
  left: -300px;
  top: -30px;
  font-weight: 600;
  font-size: 1.625em;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex .right-content h3 {
    left: 0;
    padding-top: 180px;
    padding-left: 85px;
    margin-left: 10px;
    font-size: 2.25em;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .flex .right-content h3 {
    padding-left: 0;
    font-size: 3rem;
    padding-top: 360px;
    width: 100%;
    text-align: center;
    margin-left: 25px;
  }
}
main section.s4-preview .flex .right-content .img-list {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex .right-content .img-list {
    display: flex;
    bottom: 25px;
    width: 330px;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .flex .right-content .img-list {
    bottom: 120px;
    width: 100%;
    overflow: visible;
  }
}
main section.s4-preview .flex .right-content .img-list li {
  flex-shrink: 0;
  position: absolute;
  bottom: -10px;
  left: -70px;
  width: 100px;
  height: 100px;
  border: #fff solid 5px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  main section.s4-preview .flex .right-content .img-list li {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .flex .right-content .img-list li {
    margin-left: 20px;
  }
}
main section.s4-preview .flex .right-content .img-list li img {
  position: relative;
  left: -40%;
  width: 160%;
}
main section.s5-notice {
  margin-top: 250px;
  padding: 55px 0;
  background-color: #f7f7f7;
}
main section.s5-notice .flex {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
  }
}
main section.s5-notice .flex .notice-content h3 {
  margin-bottom: 22px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s5-notice .flex .notice-content p {
  position: relative;
  font-weight: 400;
  font-size: 0.875em;
  padding-left: 35px;
}
main section.s5-notice .flex .notice-content p:first-of-type {
  margin-bottom: 5px;
}
main section.s5-notice .flex .notice-content p::before {
  content: "+";
  font-size: 1.625em;
  font-weight: 900;
  color: #ffb400;
  position: absolute;
  top: -7.8px;
  left: 15px;
}
main section.s5-notice .flex .notice-content .notice-btn {
  margin-top: 26px;
}
main section.s5-notice .flex .notice-content .notice-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #ffb400;
  border: #ffb400 solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content .notice-btn a {
    width: 174px;
  }
}
main section.s5-notice .flex img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: 40px;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex img {
    width: 290px;
    margin: 0;
    padding: 0;
  }
}

footer {
  padding-top: 30px;
  background-color: #333333;
  color: white;
  align-items: center;
}
footer div {
  margin-bottom: 40px;
}
footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .footer_logo {
  width: 135px;
  order: 1;
}
@media screen and (min-width: 1024px) {
  footer .container .footer_logo {
    width: 180px;
  }
}
footer .container .footer_logo img {
  width: 100%;
}
footer .container .subscribe {
  position: relative;
  width: 100%;
  order: 3;
}
footer .container .subscribe h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe {
    width: 26.0416666667%;
    order: 2;
  }
}
footer .container .subscribe .form_flex {
  display: flex;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex {
    display: block;
  }
}
footer .container .subscribe .form_flex .form_email {
  width: 70%;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex .form_email {
    width: 100%;
  }
}
footer .container .subscribe form label {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffef5a;
}
footer .container .subscribe form input {
  display: block;
  width: 100%;
  margin: 10px 0 15px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  color: white;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .subscribe form input:last-child {
  width: 100%;
}
footer .container .subscribe form button {
  width: 30%;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  text-align: right;
  font-family: "SCoreDream";
  font-weight: 200;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe form button {
    width: 100%;
  }
}
footer .container .subscribe form button span {
  position: relative;
  margin-left: 10px;
}
footer .container .subscribe form button span img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: auto;
}
footer .container .navigation {
  width: 220px;
  order: 2;
}
footer .container .navigation h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  footer .container .navigation {
    width: 25.8333333333%;
    order: 3;
  }
}
footer .container .navigation .flex_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .navigation .flex_nav li {
  position: relative;
  width: 50%;
  margin-bottom: 5px;
  align-items: center;
}
footer .container .navigation .flex_nav li span {
  display: none;
  height: auto;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li span {
    display: inline;
  }
}
footer .container .navigation .flex_nav li span img {
  width: 15px;
  height: auto;
}
footer .container .navigation .flex_nav li a {
  color: white;
  font-size: 0.75em;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li a {
    font-size: 0.875em;
  }
}
footer .container .address {
  width: 100%;
  margin: 0;
  order: 4;
  font-size: 0.75em;
}
footer .container .address h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .address {
    width: 24%;
  }
}
footer .container .address span {
  color: #ffef5a;
}
footer .container .address address {
  font-style: normal;
  margin-bottom: 10px;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .address .copyright h5 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
footer .container .address p {
  line-height: 24px;
}/*# sourceMappingURL=First_Birthday.css.map */