* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

footer,
header {
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

a {
  color: #333333;
  text-decoration: none;
  font-family: "SCoreDream";
  font-weight: 100;
  font-size: 1em;
}

h1 {
  font-size: 7.5em;
  font-weight: normal;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}