* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

a {
  color: #333333;
  text-decoration: none;
  font-family: "SCoreDream";
  font-weight: 100;
  font-size: 1em;
}

h1 {
  font-size: 7.5em;
  font-weight: normal;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  width: 100%;
}

.container {
  width: 89.7435897436%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container {
    width: 93.75%;
  }
}

header {
  height: 100vh;
}
header .main-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .main-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
header .colormatte {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
header .main-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}
header .main-text h2 {
  color: white;
  text-align: center;
}
header .main-text h2::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 6px;
  background: white;
  transform: translateX(-50%);
  margin-bottom: 37px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .header_logo {
  width: 126px;
}
@media screen and (min-width: 768px) {
  header .container .header_logo {
    width: 160px;
  }
}
@media screen and (min-width: 1024px) {
  header .container .header_logo {
    width: 200px;
  }
}
header .container .header_logo img {
  width: 126px;
  height: auto;
  position: absolute;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  header .container .header_logo img {
    width: 160px;
    margin-top: 17.5px;
  }
}
@media screen and (min-width: 1024px) {
  header .container .header_logo img {
    width: 200px;
    margin-top: 20px;
  }
}
header .container .menu {
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
  align-items: center;
  text-align: right;
}
@media screen and (min-width: 768px) {
  header .container .menu {
    margin-top: 27px;
  }
}
@media screen and (min-width: 1024px) {
  header .container .menu {
    margin-top: 35px;
  }
}
header .container .menu .menu_bar {
  width: 33%;
  display: block;
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: relative;
}
header .container .menu .menu_bar span {
  display: block;
  height: 0.5px;
  width: 100%;
  background: white;
  position: absolute;
}
header .container .menu .menu_bar span:nth-child(1) {
  top: 0;
  right: 0;
}
header .container .menu .menu_bar span:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translateY(50%);
  width: 80%;
}
header .container .menu .menu_bar span:nth-child(3) {
  bottom: 0;
  right: 0;
}
header .container .menu .menu_type p {
  font-family: "Lemon/Milk light", sans-serif, sans-serif;
  font-size: 1em;
}
header .mouse {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
@keyframes move {
  from {
    bottom: 60px;
  }
  75% {
    bottom: 30px;
  }
  to {
    bottom: 30px;
  }
}
header .mouse img {
  position: absolute;
  bottom: 60px;
  transform: translateX(-50%);
}
header .mouse p {
  transform: translateX(-50%);
  font-family: "Lemon/Milk light", sans-serif;
  letter-spacing: 1px;
  color: white;
}
header .mouse .pc_mouse {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .mouse .pc_mouse {
    display: block;
  }
}
header .mouse .mo_mouse img {
  opacity: 0.5;
}
@media screen and (min-width: 1024px) {
  header .mouse .mo_mouse {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sec1 .sec1-flex-box {
    display: flex;
  }
}
.sec1 .sec1-flex-box ul {
  line-height: 50px;
}
@media screen and (min-width: 1024px) {
  .sec1 .sec1-flex-box ul {
    width: 100%;
  }
}
.sec1 .sec1-flex-box .li-flex-box {
  display: flex;
  justify-content: space-between;
}
.sec1 .sec1-flex-box .li-flex-box div {
  font-family: "Lemon/Milk light", sans-serif;
}
.sec1 .sec1-flex-box img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .sec1 .sec1-flex-box img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .sec2 .sec2-flex-box {
    display: flex;
    flex-direction: row-reverse;
  }
}
.sec2 .sec2-flex-box .notice {
  font-family: "Lemon/Milk light", sans-serif;
}
.sec2 .sec2-flex-box ul {
  line-height: 50px;
}
@media screen and (min-width: 1024px) {
  .sec2 .sec2-flex-box ul {
    width: 100%;
  }
}
.sec2 .sec2-flex-box li {
  list-style: inside;
}
.sec2 .sec2-flex-box img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .sec2 .sec2-flex-box img {
    width: 50%;
  }
}

.sec3 .sec3-flex-box {
  display: flex;
  justify-content: center;
}
.sec3 .sec3-flex-box .menu,
.sec3 .sec3-flex-box .booknow {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.sec3 .sec3-flex-box .menu {
  border: #bdbdbd solid 1px;
}
.sec3 .sec3-flex-box .menu a {
  font-family: "Lemon/Milk light", sans-serif;
}
.sec3 .sec3-flex-box .booknow {
  border: #bdbdbd solid 1px;
}
.sec3 .sec3-flex-box .booknow a {
  font-family: "Lemon/Milk light", sans-serif;
}

.sec4 img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .sec4 img {
    width: 100%;
  }
}
.sec4 .hover-img {
  position: relative;
}
.sec4 .hover-img p {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: "Lemon/Milk light", sans-serif;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .sec4 .hover-img p {
    font-size: 70px;
    letter-spacing: 4px;
  }
}
@media screen and (min-width: 1024px) {
  .sec4 .hover-img p {
    font-size: 100px;
    letter-spacing: 6px;
  }
}

.sec5 img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .sec5 .sec5-flex-box {
    display: flex;
    width: 100%;
  }
}
.sec5 .sec5-text {
  text-align: center;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .sec5 .sec5-text {
    width: 50%;
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .sec5 .sec5-flex-box img {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .sec5 .sec5-flex-box2 {
    display: flex;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .sec5 .sec5-flex-box2 img {
    width: 50%;
  }
}

footer {
  padding-top: 30px;
  background-color: #333333;
  color: white;
  align-items: center;
}
footer div {
  margin-bottom: 40px;
}
footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .footer_logo {
  width: 135px;
  order: 1;
}
@media screen and (min-width: 1024px) {
  footer .container .footer_logo {
    width: 180px;
  }
}
footer .container .footer_logo img {
  width: 100%;
}
footer .container .subscribe {
  position: relative;
  width: 100%;
  order: 3;
}
footer .container .subscribe h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe {
    order: 2;
    width: 26.0416666667%;
  }
}
footer .container .subscribe .form_flex {
  display: flex;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex {
    display: block;
  }
}
footer .container .subscribe .form_flex .form_email {
  width: 70%;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex .form_email {
    width: 100%;
  }
}
footer .container .subscribe form label {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffef5a;
}
footer .container .subscribe form input {
  display: block;
  border: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  margin: 10px 0 15px;
  color: white;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .subscribe form input:last-child {
  width: 100%;
}
footer .container .subscribe form button {
  width: 30%;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  font-family: "SCoreDream";
  font-weight: 200;
  border: 0;
  cursor: pointer;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe form button {
    width: 100%;
  }
}
footer .container .subscribe form button span {
  margin-left: 10px;
  position: relative;
}
footer .container .subscribe form button span img {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .container .navigation {
  width: 220px;
  order: 2;
}
footer .container .navigation h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  footer .container .navigation {
    order: 3;
    width: 25.8333333333%;
  }
}
footer .container .navigation .flex_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .navigation .flex_nav li {
  width: 50%;
  margin-bottom: 5px;
  align-items: center;
  position: relative;
}
footer .container .navigation .flex_nav li span {
  display: none;
  height: auto;
  margin-right: 10px;
}
footer .container .navigation .flex_nav li span img {
  width: 15px;
  height: auto;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li span {
    display: inline;
  }
}
footer .container .navigation .flex_nav li a {
  color: white;
  font-size: 0.75em;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li a {
    font-size: 0.875em;
  }
}
footer .container .address {
  width: 100%;
  order: 4;
  font-size: 0.75em;
  margin: 0;
}
footer .container .address h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .address {
    width: 24%;
  }
}
footer .container .address span {
  color: #ffef5a;
}
footer .container .address address {
  font-style: normal;
  margin-bottom: 10px;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .address .copyright h5 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
footer .container .address p {
  line-height: 24px;
}