* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

footer,
header {
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

img {
  display: block;
}

h1 {
  font-size: 7.5em;
  font-weight: normal;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  width: 100%;
}

.container {
  position: relative;
  width: 89.7435897436%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 93.75%;
  }
}

.firstsection {
  position: relative;
  height: 100vh;
  background: url(../img/Wedding/photo/header-banner-img.png) no-repeat center;
  background-size: cover;
}
.firstsection::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.firstsection header {
  height: 55px;
}
@media screen and (min-width: 768px) {
  .firstsection header {
    height: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header {
    height: 80px;
  }
}
.firstsection header .container {
  display: flex;
  justify-content: space-between;
}
.firstsection header .container .header_logo {
  width: 126px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo {
    width: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo {
    width: 200px;
  }
}
.firstsection header .container .header_logo img {
  position: absolute;
  width: 126px;
  height: auto;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo img {
    width: 160px;
    margin-top: 17.5px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo img {
    width: 200px;
    margin-top: 20px;
  }
}
.firstsection header .container .menu {
  display: flex;
  width: 70px;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
  align-items: center;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .menu {
    margin-top: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .menu {
    margin-top: 35px;
  }
}
.firstsection header .container .menu .menu_bar {
  display: block;
  position: relative;
  width: 33%;
  width: 16px;
  height: 13px;
  cursor: pointer;
}
.firstsection header .container .menu .menu_bar span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: white;
}
.firstsection header .container .menu .menu_bar span:nth-child(1) {
  top: 0;
  right: 0;
}
.firstsection header .container .menu .menu_bar span:nth-child(2) {
  top: 50%;
  right: 0;
  width: 80%;
  transform: translateY(50%);
}
.firstsection header .container .menu .menu_bar span:nth-child(3) {
  right: 0;
  bottom: 0;
}
.firstsection header .container .menu .menu_type p {
  font-family: "Lemon/Milk light", sans-serif, sans-serif;
  font-size: 1em;
}
.firstsection .banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.firstsection .banner-box h1 {
  color: #ddddde;
  font-size: 2.25em;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1 {
    font-size: 7.5em;
  }
}
.firstsection .banner-box h1::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #ddddde;
  transform: translateX(-50%);
  margin-bottom: 37px;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1::before {
    top: -41px;
    width: 144px;
    height: 15px;
  }
}

.card h2,
.s1-instruction h2,
.s2-wedding h2,
.s3-flower h2,
.s4-various-venue h2,
.s5-notice h2 {
  font-size: 0;
}

main {
  position: relative;
}
main div.wave-bg .style-box {
  width: 100%;
  position: absolute;
  height: 190px;
  background-color: #ffa7b1;
}
@media screen and (min-width: 1024px) {
  main div.wave-bg .style-box {
    height: 230px;
  }
}
main div.wave-bg svg {
  position: absolute;
  top: 190px;
}
@media screen and (min-width: 1024px) {
  main div.wave-bg svg {
    top: 230px;
  }
}
main section.card .card-contain {
  position: relative;
  top: -65px;
  height: 280px;
  margin: 0 auto;
  min-width: 350px;
  max-width: 580px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain {
    height: 500px;
    max-width: 880px;
  }
}
main section.card .card-contain i {
  display: block;
  position: relative;
  top: 10px;
  font-size: 30px;
  color: #ddddde;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain i {
    font-size: 50px;
  }
}
main section.card .card-contain .card-content {
  margin-top: 55px;
  margin-left: 30px;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain .card-content {
    margin-top: 80px;
    margin-left: 60px;
  }
}
main section.card .card-contain .card-content h3 {
  font-size: 1.375em;
  font-weight: 700;
  margin-bottom: 0.637em;
  line-height: -10px;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain .card-content h3 {
    font-size: 3em;
  }
}
main section.card .card-contain .card-content h3 strong {
  position: relative;
  color: #fb5c6e;
}
main section.card .card-contain .card-content p {
  font-size: 0.875em;
  margin-bottom: 1.43em;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain .card-content p {
    font-size: 1.375em;
  }
}
main section.card .card-contain .card-content .card-btn a {
  width: 110px;
  height: 35px;
  border-radius: 5px;
  font-size: 0.875em;
  text-align: center;
  line-height: 35px;
  background-color: #fb5c6e;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  main section.card .card-contain .card-content .card-btn a {
    width: 170px;
    height: 55px;
    line-height: 55px;
    font-size: 1.375em;
  }
}
main section.card .card-contain .card-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
}
main section.s1-instruction {
  margin-top: 120px;
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction {
    margin-top: 300px;
  }
}
main section.s1-instruction .flex {
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  main section.s1-instruction .flex {
    width: 580px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction .flex {
    width: 880px;
  }
}
main section.s1-instruction .flex .left-content {
  margin-bottom: 150px;
}
@media screen and (min-width: 768px) {
  main section.s1-instruction .flex .left-content .ins-text {
    text-align: end;
  }
}
@media screen and (min-width: 768px) {
  main section.s1-instruction .flex .right-content {
    margin-left: auto;
  }
}
main section.s1-instruction .flex .left-content .ins-img,
main section.s1-instruction .flex .right-content .ins-img {
  width: 350px;
  height: 350px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  main section.s1-instruction .flex .left-content .ins-img,
main section.s1-instruction .flex .right-content .ins-img {
    width: 580px;
  }
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction .flex .left-content .ins-img,
main section.s1-instruction .flex .right-content .ins-img {
    width: 880px;
    height: 350px;
  }
}
main section.s1-instruction .flex .left-content .ins-img img,
main section.s1-instruction .flex .right-content .ins-img img {
  position: relative;
  left: 50%;
  width: 200%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  main section.s1-instruction .flex .left-content .ins-img img,
main section.s1-instruction .flex .right-content .ins-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction .flex .left-content .ins-img img,
main section.s1-instruction .flex .right-content .ins-img img {
    width: 100%;
  }
}
main section.s1-instruction .flex .left-content .ins-text,
main section.s1-instruction .flex .right-content .ins-text {
  margin-top: 50px;
}
main section.s1-instruction .flex .left-content .ins-text h3,
main section.s1-instruction .flex .right-content .ins-text h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #fb5c6e;
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction .flex .left-content .ins-text h3,
main section.s1-instruction .flex .right-content .ins-text h3 {
    font-size: 2rem;
  }
}
main section.s1-instruction .flex .left-content .ins-text p,
main section.s1-instruction .flex .right-content .ins-text p {
  margin-top: 28px;
  font-size: 0.875em;
  letter-spacing: -0.05em;
}
@media screen and (min-width: 1024px) {
  main section.s1-instruction .flex .left-content .ins-text p,
main section.s1-instruction .flex .right-content .ins-text p {
    font-size: 1.125em;
  }
}
main section.intro {
  position: relative;
  height: 600px;
  margin: 220px auto;
  font: 16px;
}
@media screen and (min-width: 1024px) {
  main section.intro {
    height: 880px;
  }
}
main .container {
  height: 100%;
}
main .container .flex-box {
  width: 100%;
  height: 100%;
}
main .container .flex-box h2 {
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15vw;
  white-space: nowrap;
  position: relative;
  font-size: min(100px, 6.641vw);
  font-weight: 700;
  z-index: 3;
}
main .container .flex-box h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 60.2917vw;
  height: 60.2917vw;
  max-width: 880px;
  max-height: 880px;
  min-width: 350px;
  min-height: 350px;
  background-color: #fb5c6e;
  border-radius: 50%;
  z-index: -1;
  left: min(34%, 395px);
  top: -100%;
}
main .container .flex-box h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5641vw;
  height: 2.5641vw;
  border-radius: 50%;
  background-color: #fb5c6e;
  z-index: -1;
  left: min(17%, 200px);
  top: -8%;
}
main section.s2-wedding .flex {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s2-wedding .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
main section.s2-wedding .flex .s2-content h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s2-wedding .flex .s2-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s2-wedding .flex .s2-content p {
  line-height: 18px;
  letter-spacing: -0.05em;
  margin-top: 22px;
  margin-bottom: 32px;
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.s2-wedding .flex .s2-content p {
    font-size: 1.125em;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
  }
}
main section.s2-wedding .flex .s2-content .s2-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #fb5c6e;
  border: #fb5c6e solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s2-wedding .flex .s2-content .s2-btn a {
    width: 174px;
  }
}
main section.s2-wedding .flex .s2-img {
  width: 350px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s2-wedding .flex .s2-img {
    width: 45.3125vw;
    max-width: 770px;
    min-width: 450px;
    margin-left: 50px;
  }
}
main section.s2-wedding .flex .s2-img img {
  width: 100%;
}
main section.s3-flower {
  margin-top: 200px;
}
main section.s3-flower .flex {
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s3-flower .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
main section.s3-flower .flex .s3-img {
  width: 350px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s3-flower .flex .s3-img {
    width: 45.3125vw;
    max-width: 770px;
    min-width: 450px;
    margin-right: 50px;
  }
}
main section.s3-flower .flex .s3-img img {
  width: 100%;
}
main section.s3-flower .flex .s3-content h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s3-flower .flex .s3-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s3-flower .flex .s3-content p {
  line-height: 18px;
  letter-spacing: -0.05em;
  margin-top: 22px;
  margin-bottom: 32px;
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.s3-flower .flex .s3-content p {
    font-size: 1.125em;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
  }
}
main section.s3-flower .flex .s3-content .s3-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #fb5c6e;
  border: #fb5c6e solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s3-flower .flex .s3-content .s3-btn a {
    width: 174px;
  }
}
main section.s4-various-venue {
  margin-top: 120px;
}
main section.s4-various-venue .flex {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s4-various-venue .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
main section.s4-various-venue .flex .s4-content h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s4-various-venue .flex .s4-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s4-various-venue .flex .s4-content p {
  line-height: 18px;
  letter-spacing: -0.05em;
  margin-top: 22px;
  margin-bottom: 32px;
  font-size: 14px;
  text-align: center;
  text-align: left;
  padding-left: 10%;
}
@media screen and (min-width: 1024px) {
  main section.s4-various-venue .flex .s4-content p {
    padding-left: 0;
    font-size: 1.125em;
    line-height: 26px;
    font-weight: 300;
    text-align: left;
  }
}
main section.s4-various-venue .flex .s4-content .s4-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #fb5c6e;
  border: #fb5c6e solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s4-various-venue .flex .s4-content .s4-btn a {
    width: 174px;
  }
}
main section.s4-various-venue .flex .s4-img {
  width: 350px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s4-various-venue .flex .s4-img {
    width: 45.3125vw;
    max-width: 770px;
    min-width: 450px;
    margin-left: 50px;
  }
}
main section.s4-various-venue .flex .s4-img img {
  width: 100%;
}
main section.s5-notice {
  margin-top: 120px;
  padding: 55px 0;
  background-color: #f7f7f7;
}
main section.s5-notice .flex {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
  }
}
main section.s5-notice .flex .notice-content h3 {
  margin-bottom: 22px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s5-notice .flex .notice-content p {
  position: relative;
  font-weight: 400;
  font-size: 0.875em;
  padding-left: 35px;
}
main section.s5-notice .flex .notice-content p:first-of-type {
  margin-bottom: 5px;
}
main section.s5-notice .flex .notice-content p::before {
  content: "+";
  font-size: 1.625em;
  font-weight: 900;
  color: #fb5c6e;
  position: absolute;
  top: -9px;
  left: 15px;
}
main section.s5-notice .flex .notice-content .notice-btn {
  margin-top: 26px;
}
main section.s5-notice .flex .notice-content .notice-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #fb5c6e;
  border: #fb5c6e solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content .notice-btn a {
    width: 174px;
  }
}
main section.s5-notice .flex img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: 40px;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex img {
    width: 290px;
    margin: 0;
    padding: 0;
  }
}

footer {
  padding-top: 30px;
  background-color: #333333;
  color: white;
  align-items: center;
}
footer div {
  margin-bottom: 40px;
}
footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .footer_logo {
  width: 135px;
  order: 1;
}
@media screen and (min-width: 1024px) {
  footer .container .footer_logo {
    width: 180px;
  }
}
footer .container .footer_logo img {
  width: 100%;
}
footer .container .subscribe {
  position: relative;
  width: 100%;
  order: 3;
}
footer .container .subscribe h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe {
    width: 26.0416666667%;
    order: 2;
  }
}
footer .container .subscribe .form_flex {
  display: flex;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex {
    display: block;
  }
}
footer .container .subscribe .form_flex .form_email {
  width: 70%;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex .form_email {
    width: 100%;
  }
}
footer .container .subscribe form label {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffef5a;
}
footer .container .subscribe form input {
  display: block;
  width: 100%;
  margin: 10px 0 15px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  color: white;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .subscribe form input:last-child {
  width: 100%;
}
footer .container .subscribe form button {
  width: 30%;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  text-align: right;
  font-family: "SCoreDream";
  font-weight: 200;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe form button {
    width: 100%;
  }
}
footer .container .subscribe form button span {
  position: relative;
  margin-left: 10px;
}
footer .container .subscribe form button span img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: auto;
}
footer .container .navigation {
  width: 220px;
  order: 2;
}
footer .container .navigation h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  footer .container .navigation {
    width: 25.8333333333%;
    order: 3;
  }
}
footer .container .navigation .flex_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .navigation .flex_nav li {
  position: relative;
  width: 50%;
  margin-bottom: 5px;
  align-items: center;
}
footer .container .navigation .flex_nav li span {
  display: none;
  height: auto;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li span {
    display: inline;
  }
}
footer .container .navigation .flex_nav li span img {
  width: 15px;
  height: auto;
}
footer .container .navigation .flex_nav li a {
  color: white;
  font-size: 0.75em;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li a {
    font-size: 0.875em;
  }
}
footer .container .address {
  width: 100%;
  margin: 0;
  order: 4;
  font-size: 0.75em;
}
footer .container .address h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .address {
    width: 24%;
  }
}
footer .container .address span {
  color: #ffef5a;
}
footer .container .address address {
  font-style: normal;
  margin-bottom: 10px;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .address .copyright h5 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
footer .container .address p {
  line-height: 24px;
}/*# sourceMappingURL=Wedding.css.map */