@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.wrapper {
    width: 100%;
    // background-color: rgb(151, 168, 240);
    // color: white;
}

.container {
    width: 89.74358974358974%;
    margin: 0 auto;
    background-color: rgb(255, 161, 161);
    position: relative;

    @include responsive(tablet-screens){
        width: 93.75%;
        // background-color: rgb(139, 168, 10);
    }    
}

header {
    height: 100vh;

    .main-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
    }

    .colormatte {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
    }

    .main-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);

        h1 {
            color: white;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -30px;
                left: 50%;
                width: 30px;
                height: 6px;
                background: white;
                transform: translateX(-50%);
                margin-bottom: 37px;
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
    
        .header_logo {
            width: 126px;

            @include responsive(tablet-screens){
                width: 160px;
            }

            @include responsive(pc-screens){
                width: 200px;
            }

            img {
                width: 126px;
                height: auto;
                position: absolute;
                margin-top: 15px;

                @include responsive(tablet-screens){
                    width: 160px;
                    margin-top: 17.5px;
                }
    
                @include responsive(pc-screens){
                    width: 200px;
                    margin-top: 20px;
                }
            }
        }

        .menu{
            width: 70px;
            display: flex;
            justify-content: space-between;
            color: white;
            margin-top: 20px;
            align-items: center;
            text-align: right;

            @include responsive(tablet-screens){
                margin-top: 27px;
            }

            @include responsive(pc-screens){
                margin-top: 35px;
            }         
        
            .menu_bar {
                width: 33%;
                display:block;
                width: 16px;
                height: 13px;
                cursor:pointer;
                position:relative;
        
                span {
                    display:block;
                    height:0.5px;
                    width:100%;
                    background: white;
                    position:absolute;
        
                    &:nth-child(1) {
                        top:0;
                        right: 0;
                    }
        
                    &:nth-child(2) {
                        top:50%;
                        right: 0;
                        transform:translateY(50%);
                        width: 80%;
                    }
        
                    &:nth-child(3) {
                        bottom:0;
                        right: 0;
                    }
                } //sapn
            } //menu_bar
        
            .menu_type{                
                p{
                    font-family: $eng_title_font, sans-serif;
                    font-size: 1em;
                    
                }
            } //.menu_type
        } //.menu
    } // container
    
    .mouse {
        position: absolute;
        bottom: 20px;
        left: 50%;

        @keyframes move {
            from{
                bottom: 60px;
            }

            75%{
                bottom: 30px;
            } 

            to{
                bottom: 30px;
            }
        }

        img {
            position: absolute;
            bottom: 60px;
            // animation: move 2s infinite;
            transform: translateX(-50%);
        }

        p{
            transform: translateX(-50%);
            font: {
                family: $eng_title_font;
            }
            letter-spacing: 1px;
            color: white;
        }

        .pc_mouse {
            display: none;

            @include responsive(pc-screens) {
                display: block;
            }
        }

        .mo_mouse {
            img {
                opacity: 0.5;
            }

            @include responsive(pc-screens) {
                display: none;
            }
        }
    }
} // header

// main
main {
    .sec1 {
        .container {
            @include responsive(pc-screens) {
                display: flex;
            }

            .flex-box {
                background-color: #fcf6e1;
                padding: 30px;
                width: 100%;

                @include responsive(pc-screens) {
                    width: 50%;
                }
            
                .flex-box1 {
                    display: flex;
                    justify-content: space-around;
                    
                    .info {
                        font-family: $eng_title_font;
                        line-height: 50px;
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: space-around;

                    .menu,
                    .booknow {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                    }

                    .menu {                
                        background-color: white;

                        a {
                            font-family: $eng_title_font;
                        }
                        
                    }

                    .booknow {                
                        background-color: #f1d06a;

                        a {
                            font-family: $eng_title_font;
                        }            
                    }
                }
            }

            .sec-img {
                width: 100%;

                @include responsive(pc-screens) {
                    width: 50%;
                }
            }

            .sec1-img img {
                width: 100%;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }
    }

    .sec2 {
        .sec2-box {
            @include responsive(pc-screens) {
                display: flex;
                width: 100%;
            }

            div img {
                width: 100%;
            }
            
            .hover-img {
                position: relative;                
            }

            .hover-img p {
                color: #ffffff;
                font-size: 30px; 
                text-align: center;
                line-height: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);

                @include responsive (tablet-screens) {
                    font-size: 40px;
                    line-height: 70px;
                }

                @include responsive (pc-screens) {
                    font-size: 40px;
                    line-height: 80px;
                }

                strong {
                    font-family: $eng_title_font;
                    letter-spacing: 2px;                    
                }

                a {
                    color: #333333;
                }

                a:hover {
                    text-decoration: underline 2px white;
                    color: white;

                }
            }
        }
    }

    .sec3 {
        .sec3-text {
            text-align: center;

            p {
                font-size: 14px;

                @include responsive(tablet-screens) {
                    font-size: 20px;
                }

                @include responsive(pc-screens) {
                    font-size: 26px;
                }
            }

            .rooftop {
                font-size: 48px;
                font-family: $eng_title_font;

                @include responsive(tablet-screens) {
                    letter-spacing: 3px;
                    font-size: 68px;
                }
                
                @include responsive(pc-screens) {
                    letter-spacing: 6px;
                    font-size: 88px;
                }
            }
        }

        .sec3-img-box {
            img {
                width: 100%;
            }
            
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    }
}

footer {
    padding-top: 30px;
    background-color: #333333;
    color: white;
    align-items: center;

    div{
        margin-bottom: 40px;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer_logo{
            width: 135px;
            order: 1;

            @include responsive(pc-screens) {
                width: 180px;

            }


            img{
                width: 100%;
            }
        }

        .subscribe{
            @include footer_h4;
            position: relative;

            width: 100%;
            order: 3;

            @include responsive(pc-screens){
                order: 2;
                width: 26.04166666666667%;
            }

            
            .form_flex {
                display: flex;
                margin: 0;

                @include responsive(pc-screens) {
                    display: block;
                }
                

                .form_email {
                    width: 70%;
                    margin: 0;

                    @include responsive(pc-screens) {
                        width: 100%;
                    }
                }
            }

            form {

                label{
                    @include footer_label
                }

                input {
                    display: block;
                    border: 0;
                    width: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid white;
                    padding-bottom: 3px;
                    margin: 10px 0 15px;
                    color: white;
                    @include font_setting;

                    &:last-child{
                        width: 100%;
                    }

                }

                button {
                    width: 30%;
                    height: 70px;
                    background-color: transparent;
                    color: white;
                    font-size: 1em;
                    @include font_setting;
                    border: 0;
                    cursor: pointer; 
                    text-align: right;


                    @include responsive(pc-screens) {
                        width: 100%;
                    }
                
                    span {
                        margin-left: 10px;
                        position: relative;

                        img {
                            width: 20px;
                            height: auto;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                
                }
            }

        }

        .navigation {
            width: 220px;
            order: 2;
            

            @include footer_h4;

            @include responsive(tablet-screens){
                width: 70%;
            }

            @include responsive(pc-screens){
                order: 3;
                width: 25.83333333333333%;
            }

            .flex_nav {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li{
                    width: 50%;
                    margin-bottom: 5px;
                    align-items: center;
                    position: relative;

                    span {
                        display: none;
                        height: auto;
                        margin-right: 10px;

                        img {
                            width: 15px;
                            height: auto;
                        }

                        @include responsive(tablet-screens)
                        {
                            display: inline;
                        }
                    }

                    a{
                        color: white;
                        font-size: 0.75em;
                        padding-bottom: 5px;

                        @include responsive(tablet-screens)
                        {
                            font-size: 0.875em;
                        }
                    }
                }
            }

        }

        .address {

            @include footer_h4;

            width: 100%;
            order: 4;
            font-size: 0.75em;
            margin: 0;

            @include responsive(pc-screens){
                width: 24%;
            }

            span {
                color: #ffef5a;
            }

            address{
                font-style: normal;
                margin-bottom: 10px;
                @include font_setting;
            }

            .copyright {
                @include footer_h5;
            }

            p{
                line-height: 24px;
            }

        }


    }
}