* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

footer,
header {
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

img {
  display: block;
}

h1 {
  font-size: 7.5em;
  font-weight: normal;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  width: 100%;
}

.container {
  width: 89.7435897436%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container {
    width: 93.75%;
  }
}

.firstsection {
  position: relative;
  height: 100vh;
  background: url(../img/Party/photo/header-banner.png) no-repeat center;
  background-size: cover;
}
.firstsection::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.firstsection header {
  height: 55px;
}
@media screen and (min-width: 768px) {
  .firstsection header {
    height: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header {
    height: 80px;
  }
}
.firstsection header .container {
  display: flex;
  justify-content: space-between;
}
.firstsection header .container .header_logo {
  width: 126px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo {
    width: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo {
    width: 200px;
  }
}
.firstsection header .container .header_logo img {
  width: 126px;
  height: auto;
  position: absolute;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .header_logo img {
    width: 160px;
    margin-top: 17.5px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .header_logo img {
    width: 200px;
    margin-top: 20px;
  }
}
.firstsection header .container .menu {
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
  align-items: center;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .firstsection header .container .menu {
    margin-top: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .firstsection header .container .menu {
    margin-top: 35px;
  }
}
.firstsection header .container .menu .menu_bar {
  width: 33%;
  display: block;
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: relative;
}
.firstsection header .container .menu .menu_bar span {
  display: block;
  height: 0.5px;
  width: 100%;
  background: white;
  position: absolute;
}
.firstsection header .container .menu .menu_bar span:nth-child(1) {
  top: 0;
  right: 0;
}
.firstsection header .container .menu .menu_bar span:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translateY(50%);
  width: 80%;
}
.firstsection header .container .menu .menu_bar span:nth-child(3) {
  bottom: 0;
  right: 0;
}
.firstsection header .container .menu .menu_type p {
  font-family: "Lemon/Milk light", sans-serif, sans-serif;
  font-size: 1em;
}
.firstsection .banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.firstsection .banner-box h1 {
  color: #ddddde;
  font-size: 2.25em;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1 {
    font-size: 7.5em;
  }
}
.firstsection .banner-box h1::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #ddddde;
  transform: translateX(-50%);
  margin-bottom: 37px;
}
@media screen and (min-width: 1024px) {
  .firstsection .banner-box h1::before {
    top: -41px;
    width: 144px;
    height: 15px;
  }
}

.infomation h2,
.s1-hall h2,
.s2-hall h2,
.s3-hall h2,
.s5-notice h2 {
  font-size: 0;
}

main section.intro h2 {
  padding: 350px 0;
  text-align: center;
  font-size: 1.625em;
  letter-spacing: -0.05em;
  color: #efefef;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  main section.intro h2 {
    padding: 390px 0;
    font-size: 5em;
    white-space: nowrap;
  }
}
main section.infomation .container {
  width: 100%;
}
main section.infomation .container h3 {
  font-size: 1.75em;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container h3 {
    font-size: 3em;
  }
}
main section.infomation .container .info-content-box {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  max-width: 390px;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box {
    flex-direction: row;
    width: 1200px;
    height: 450px;
    max-width: 100%;
    background-color: #efefef;
  }
}
main section.infomation .container .info-content-box .info-content {
  flex-shrink: 0;
  padding: 0 5.1282051282%;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-content {
    padding: 0 45px;
    width: 50%;
  }
}
main section.infomation .container .info-content-box .info-content h3 {
  text-align: center;
  font-size: 1.375em;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin: 30px 0;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-content h3 {
    font-size: 2.25em;
    text-align: left;
  }
}
main section.infomation .container .info-content-box .info-content p {
  line-height: 24px;
  letter-spacing: -0.05em;
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-content p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
}
main section.infomation .container .info-content-box .info-content .info-btn {
  margin-top: 35px;
}
main section.infomation .container .info-content-box .info-content .info-btn a {
  width: 100%;
  max-width: 390px;
  height: 54px;
  text-align: center;
  color: #2a52be;
  border: #2a52be solid 1px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-content .info-btn {
    width: 172px;
  }
}
main section.infomation .container .info-content-box .info-img {
  position: relative;
  width: 390px;
  height: 450px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-img {
    width: 50%;
  }
}
main section.infomation .container .info-content-box .info-img img {
  position: absolute;
  width: 200%;
  top: -30px;
  left: -50%;
}
@media screen and (min-width: 1024px) {
  main section.infomation .container .info-content-box .info-img img {
    position: absolute;
    width: 1200px;
    top: -110px;
    left: -50%;
  }
}
main section.s1-hall {
  margin-top: 160px;
  background-color: #efefef;
}
main section.s1-hall .flex {
  position: relative;
  padding: 120px 0;
  width: 390px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex {
    display: flex;
    width: 1400px;
  }
  main section.s1-hall .flex::before {
    top: -110px;
    left: 30px;
    position: absolute;
    content: "COVENTION";
    font-size: 100px;
    color: #efefef;
    z-index: -1;
    font-weight: 700;
  }
  main section.s1-hall .flex::after {
    bottom: -95px;
    right: 30px;
    position: absolute;
    content: "BANQUE";
    font-size: 100px;
    color: #efefef;
    z-index: -1;
    font-weight: 700;
  }
}
main section.s1-hall .flex .s1-img {
  width: 390px;
  height: 250px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-img {
    width: 50%;
    height: 420px;
  }
}
main section.s1-hall .flex .s1-img img {
  width: 120%;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-img img {
    width: 100%;
  }
}
main section.s1-hall .flex .s1-content {
  text-align: center;
  padding: 0 5.1282051282%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content {
    text-align: left;
    width: 50%;
    padding: 0 0 0 120px;
    margin-top: 17.75px;
  }
}
main section.s1-hall .flex .s1-content h3 {
  margin-left: 14px;
  font-size: 1.5em;
  margin-top: 45px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content h3 {
    font-size: 2.25em;
    margin: 0 0 0 14px;
  }
}
main section.s1-hall .flex .s1-content h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(0% - 17.5px);
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: #2a52be;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content h3::after {
    top: 27px;
    height: 35px;
    width: 4px;
    left: -10px;
  }
}
main section.s1-hall .flex .s1-content p {
  font-size: 1em;
  line-height: 24px;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content p {
    font-size: 1.125em;
    line-height: 26px;
  }
}
main section.s1-hall .flex .s1-content .btns {
  display: flex;
  margin-top: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content .btns {
    margin-top: 60px;
  }
}
main section.s1-hall .flex .s1-content .btns a {
  width: 172px;
  height: 54px;
  text-align: center;
  color: #2a52be;
  border: #2a52be solid 1px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
main section.s1-hall .flex .s1-content .btns a:first-of-type {
  margin-right: 8px;
}
main section.s1-hall .flex .s1-content ul.room-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content ul.room-info {
    order: 2;
  }
}
main section.s1-hall .flex .s1-content ul.room-info li {
  width: 50%;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content ul.room-info li {
    width: 25%;
    text-align: center;
    border-right: 2px solid lightgray;
  }
}
main section.s1-hall .flex .s1-content ul.room-info li:last-of-type {
  border-right: none;
}
main section.s1-hall .flex .s1-content ul.room-info li img {
  width: 25px;
  display: none;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s1-hall .flex .s1-content ul.room-info li img {
    display: block;
  }
}
main section.s1-hall .flex .s1-content ul.room-info li p {
  font-size: 0.875em;
}
main section.s1-hall .flex .s1-content ul.room-info li strong {
  font-size: 2.25em;
  line-height: 30px;
}
main section.s2-hall {
  margin-top: 160px;
}
main section.s2-hall .flex {
  width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex {
    flex-direction: row;
    width: 1400px;
  }
}
main section.s2-hall .flex .s2-img {
  width: 390px;
  height: 250px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-img {
    width: 50%;
    height: 420px;
  }
}
main section.s2-hall .flex .s2-img img {
  width: 100%;
}
main section.s2-hall .flex .s2-content {
  text-align: center;
  padding: 0 5.1282051282%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content {
    text-align: left;
    width: 50%;
    padding: 0 120px 0 30px;
    margin-top: 17.75px;
  }
}
main section.s2-hall .flex .s2-content h3 {
  margin-left: 14px;
  font-size: 1.5em;
  margin-top: 45px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content h3 {
    font-size: 2.25em;
    margin: 0 0 0 14px;
  }
}
main section.s2-hall .flex .s2-content h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(0% - 17.5px);
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: #2a52be;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content h3::after {
    top: 27px;
    height: 35px;
    width: 4px;
    left: -10px;
  }
}
main section.s2-hall .flex .s2-content p {
  font-size: 1em;
  line-height: 24px;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content p {
    font-size: 1.125em;
    line-height: 26px;
  }
}
main section.s2-hall .flex .s2-content .btns {
  display: flex;
  margin-top: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content .btns {
    margin-top: 60px;
  }
}
main section.s2-hall .flex .s2-content .btns a {
  width: 172px;
  height: 54px;
  text-align: center;
  color: #2a52be;
  border: #2a52be solid 1px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
main section.s2-hall .flex .s2-content .btns a:first-of-type {
  margin-right: 8px;
}
main section.s2-hall .flex .s2-content ul.room-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content ul.room-info {
    order: 2;
  }
}
main section.s2-hall .flex .s2-content ul.room-info li {
  width: 50%;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content ul.room-info li {
    width: 25%;
    text-align: center;
    border-right: 2px solid lightgray;
  }
}
main section.s2-hall .flex .s2-content ul.room-info li:last-of-type {
  border-right: none;
}
main section.s2-hall .flex .s2-content ul.room-info li img {
  width: 25px;
  display: none;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s2-hall .flex .s2-content ul.room-info li img {
    display: block;
  }
}
main section.s2-hall .flex .s2-content ul.room-info li p {
  font-size: 0.875em;
}
main section.s2-hall .flex .s2-content ul.room-info li strong {
  font-size: 2.25em;
  line-height: 30px;
}
main section.s3-hall {
  margin-top: 160px;
  background-color: #efefef;
}
main section.s3-hall .flex {
  position: relative;
  padding: 120px 0;
  width: 390px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex {
    display: flex;
    width: 1400px;
  }
  main section.s3-hall .flex::before {
    top: -110px;
    left: 30px;
    position: absolute;
    content: "MEETING";
    font-size: 100px;
    color: #efefef;
    z-index: -1;
    font-weight: 700;
  }
}
main section.s3-hall .flex .s3-img {
  width: 390px;
  height: 250px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-img {
    width: 50%;
    height: 420px;
  }
}
main section.s3-hall .flex .s3-img img {
  width: 100%;
}
main section.s3-hall .flex .s3-content {
  text-align: center;
  padding: 0 5.1282051282%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content {
    text-align: left;
    width: 50%;
    padding: 0 0 0 120px;
    margin-top: 17.75px;
  }
}
main section.s3-hall .flex .s3-content h3 {
  margin-left: 14px;
  font-size: 1.5em;
  margin-top: 45px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content h3 {
    font-size: 2.25em;
    margin: 0 0 0 14px;
  }
}
main section.s3-hall .flex .s3-content h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(0% - 17.5px);
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: #2a52be;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content h3::after {
    top: 27px;
    height: 35px;
    width: 4px;
    left: -10px;
  }
}
main section.s3-hall .flex .s3-content p {
  font-size: 1em;
  line-height: 24px;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content p {
    font-size: 1.125em;
    line-height: 26px;
  }
}
main section.s3-hall .flex .s3-content .btns {
  display: flex;
  margin-top: 35px;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content .btns {
    margin-top: 60px;
  }
}
main section.s3-hall .flex .s3-content .btns a {
  width: 172px;
  height: 54px;
  text-align: center;
  color: #2a52be;
  border: #2a52be solid 1px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
main section.s3-hall .flex .s3-content .btns a:first-of-type {
  margin-right: 8px;
}
main section.s3-hall .flex .s3-content ul.room-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content ul.room-info {
    order: 2;
  }
}
main section.s3-hall .flex .s3-content ul.room-info li {
  width: 50%;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content ul.room-info li {
    width: 25%;
    text-align: center;
    border-right: 2px solid lightgray;
  }
}
main section.s3-hall .flex .s3-content ul.room-info li:last-of-type {
  border-right: none;
}
main section.s3-hall .flex .s3-content ul.room-info li img {
  width: 25px;
  display: none;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s3-hall .flex .s3-content ul.room-info li img {
    display: block;
  }
}
main section.s3-hall .flex .s3-content ul.room-info li p {
  font-size: 0.875em;
}
main section.s3-hall .flex .s3-content ul.room-info li strong {
  font-size: 2.25em;
  line-height: 30px;
}
main section.s4-preview {
  margin-top: 120px;
}
main section.s4-preview h2 {
  font-size: 1.75em;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  main section.s4-preview h2 {
    font-size: 3em;
  }
}
main section.s4-preview .hidden-box .preview-img {
  display: flex;
  max-width: 500px;
  min-width: 390px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .hidden-box .preview-img {
    max-width: 1400px;
    height: 450px;
    overflow: hidden;
  }
}
main section.s4-preview .hidden-box .preview-img li {
  transition: 500ms all ease;
  flex: 1;
  margin: 0 5px;
  height: 450px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .hidden-box .preview-img li {
    height: auto;
    margin: 0 10px;
  }
}
main section.s4-preview .hidden-box .preview-img li:hover {
  flex: 9;
}
main section.s4-preview .hidden-box .preview-img li img {
  height: 100%;
  position: relative;
  left: -100px;
}
@media screen and (min-width: 1024px) {
  main section.s4-preview .hidden-box .preview-img li img {
    height: auto;
    width: 100%;
    left: 0px;
  }
}
main section.s4-preview .preview-logo {
  margin-top: 30px;
}
main section.s4-preview .preview-logo img {
  margin: 0 auto;
  width: 300px;
}
main section.s5-notice {
  margin-top: 120px;
  padding: 55px 0;
  background-color: #efefef;
}
main section.s5-notice .flex {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
  }
}
main section.s5-notice .flex .notice-content h3 {
  margin-bottom: 22px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content h3 {
    text-align: left;
    font-size: 4em;
  }
}
main section.s5-notice .flex .notice-content p {
  position: relative;
  font-weight: 400;
  font-size: 0.875em;
  padding-left: 35px;
}
main section.s5-notice .flex .notice-content p:first-of-type {
  margin-bottom: 5px;
}
main section.s5-notice .flex .notice-content p::before {
  content: "+";
  font-size: 1.625em;
  font-weight: 900;
  color: #2a52be;
  position: absolute;
  top: -7.8px;
  left: 15px;
}
main section.s5-notice .flex .notice-content .notice-btn {
  margin-top: 26px;
}
main section.s5-notice .flex .notice-content .notice-btn a {
  width: 100%;
  height: 54px;
  text-align: center;
  color: #2a52be;
  border: #2a52be solid 1px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex .notice-content .notice-btn a {
    width: 174px;
  }
}
main section.s5-notice .flex img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: 40px;
}
@media screen and (min-width: 1024px) {
  main section.s5-notice .flex img {
    width: 290px;
    margin: 0;
    padding: 0;
  }
}

footer {
  padding-top: 30px;
  background-color: #333333;
  color: white;
  align-items: center;
}
footer div {
  margin-bottom: 40px;
}
footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .footer_logo {
  width: 135px;
  order: 1;
}
@media screen and (min-width: 1024px) {
  footer .container .footer_logo {
    width: 180px;
  }
}
footer .container .footer_logo img {
  width: 100%;
}
footer .container .subscribe {
  position: relative;
  width: 100%;
  order: 3;
}
footer .container .subscribe h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe {
    order: 2;
    width: 26.0416666667%;
  }
}
footer .container .subscribe .form_flex {
  display: flex;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex {
    display: block;
  }
}
footer .container .subscribe .form_flex .form_email {
  width: 70%;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe .form_flex .form_email {
    width: 100%;
  }
}
footer .container .subscribe form label {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffef5a;
}
footer .container .subscribe form input {
  display: block;
  border: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  margin: 10px 0 15px;
  color: white;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .subscribe form input:last-child {
  width: 100%;
}
footer .container .subscribe form button {
  width: 30%;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  font-family: "SCoreDream";
  font-weight: 200;
  border: 0;
  cursor: pointer;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  footer .container .subscribe form button {
    width: 100%;
  }
}
footer .container .subscribe form button span {
  margin-left: 10px;
  position: relative;
}
footer .container .subscribe form button span img {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .container .navigation {
  width: 220px;
  order: 2;
}
footer .container .navigation h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  footer .container .navigation {
    order: 3;
    width: 25.8333333333%;
  }
}
footer .container .navigation .flex_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .navigation .flex_nav li {
  width: 50%;
  margin-bottom: 5px;
  align-items: center;
  position: relative;
}
footer .container .navigation .flex_nav li span {
  display: none;
  height: auto;
  margin-right: 10px;
}
footer .container .navigation .flex_nav li span img {
  width: 15px;
  height: auto;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li span {
    display: inline;
  }
}
footer .container .navigation .flex_nav li a {
  color: white;
  font-size: 0.75em;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  footer .container .navigation .flex_nav li a {
    font-size: 0.875em;
  }
}
footer .container .address {
  width: 100%;
  order: 4;
  font-size: 0.75em;
  margin: 0;
}
footer .container .address h4 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  footer .container .address {
    width: 24%;
  }
}
footer .container .address span {
  color: #ffef5a;
}
footer .container .address address {
  font-style: normal;
  margin-bottom: 10px;
  font-family: "SCoreDream";
  font-weight: 200;
}
footer .container .address .copyright h5 {
  font-family: "Lemon/Milk light", sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 20px;
}
footer .container .address p {
  line-height: 24px;
}